<h1>Les derniers Posts</h1>

<div class="blog">
  <app-post *ngFor="let post of posts" 
            [postTitle]="post.title"
            [postContent]="post.content"
            [postDate]="post.created_at | date: 'EEEE d MMMM y'"
            [postLoves]="post.loveIts"></app-post>
</div>