<div class="post" 
      [ngClass]="{'post-loved': postLoves > 0,
                  'post-hated': postLoves < 0}">

  <h2 [ngClass]="{'loved': postLoves > 0,
                  'hated': postLoves < 0}">
    {{ postTitle }}
  </h2>

  <p> {{ postContent }} </p>

  <div class="post-popularity">
    <div class="love" (click)='loveMore()'>Pas mal</div>
    <div class="hate" (click)='loveLess()'>Pas ouf</div>
  </div>

  <div class="post-date">
    {{ postDate }}
  </div>

  <div class="loveCount">
    Compteur : {{ postLoves }}
  </div>
</div>