.post {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 40px;
    border: 1px solid #cecece;
    max-width: 700px;
    width: 100%;
    margin: 20px 0 20px 20px;
    position: relative;

    .loveCount {
        font-size: 12px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    
    &-hated {
        background-color: #ffc6c6;
    }

    &-loved {
        background-color: #c9f1b4;
    }

    h2 {
        margin: 0;

        &.loved {
            color: #56ca56;
        }

        &.hated {
            color: #e04444;
        }
    }

    &-date {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
    }

    &-popularity {
        display: flex;
        
        div {
            padding: 10px 30px;
            margin-right: 20px;
            color: white;
            cursor: pointer;
            font-weight: bold;

            &.hate {
                background-color: #e04444;

                &:hover {
                    background-color: #b70000;
                }
            }

            &.love {
                background-color: #56ca56;

                &:hover {
                    background-color: #50a750;
                }
            }
        }
    }
}